In [141]:
import pandas as pd
import numpy as np

In [142]:
bike120_data_path = "./Resources/JC-202001-citibike-tripdata.csv"

bike120_data = pd.read_csv(bike220_data_path)

bike120_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,841,02:13.8,16:15.5,3199,Newport Pkwy,40.728745,-74.032108,3213,Van Vorst Park,40.718489,-74.047727,42217,Subscriber,1980,1
1,206,16:11.4,19:37.4,3273,Manila & 1st,40.721651,-74.042884,3639,Harborside,40.719252,-74.034234,42160,Subscriber,1990,1
2,859,23:22.1,37:41.5,3185,City Hall,40.717733,-74.043845,3268,Lafayette Park,40.713464,-74.062859,42204,Customer,1991,1
3,693,25:14.5,36:48.0,3185,City Hall,40.717733,-74.043845,3277,Communipaw & Berry Lane,40.714358,-74.066611,42165,Subscriber,1987,1
4,1473,32:30.5,57:04.4,3192,Liberty Light Rail,40.711242,-74.055701,3639,Harborside,40.719252,-74.034234,26156,Customer,1969,0

In [143]:
bike120_data["Month"] = "January"

bike120_data

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Month
0,841,02:13.8,16:15.5,3199,Newport Pkwy,40.728745,-74.032108,3213,Van Vorst Park,40.718489,-74.047727,42217,Subscriber,1980,1,January
1,206,16:11.4,19:37.4,3273,Manila & 1st,40.721651,-74.042884,3639,Harborside,40.719252,-74.034234,42160,Subscriber,1990,1,January
2,859,23:22.1,37:41.5,3185,City Hall,40.717733,-74.043845,3268,Lafayette Park,40.713464,-74.062859,42204,Customer,1991,1,January
3,693,25:14.5,36:48.0,3185,City Hall,40.717733,-74.043845,3277,Communipaw & Berry Lane,40.714358,-74.066611,42165,Subscriber,1987,1,January
4,1473,32:30.5,57:04.4,3192,Liberty Light Rail,40.711242,-74.055701,3639,Harborside,40.719252,-74.034234,26156,Customer,1969,0,January
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22957,262,40:53.2,45:15.3,3639,Harborside,40.719252,-74.034234,3214,Essex Light Rail,40.712774,-74.036486,42467,Subscriber,1967,1,January
22958,216,41:01.3,44:38.0,3186,Grove St PATH,40.719586,-74.043117,3483,Montgomery St,40.719420,-74.050990,42377,Subscriber,1958,1,January
22959,101,45:22.2,47:03.3,3214,Essex Light Rail,40.712774,-74.036486,3681,Grand St,40.715178,-74.037683,42485,Subscriber,1967,1,January
22960,279,47:56.8,52:36.6,3186,Grove St PATH,40.719586,-74.043117,3483,Montgomery St,40.719420,-74.050990,42531,Subscriber,1988,1,January
22961,212,49:18.5,52:50.7,3184,Paulus Hook,40.714145,-74.033552,3276,Marin Light Rail,40.714584,-74.042817,42385,Subscriber,1967,1,January

In [144]:
bike220_data_path = "./Resources/JC-202002-citibike-tripdata.csv"

bike220_data = pd.read_csv(bike220_data_path)

bike220_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,841,02:13.8,16:15.5,3199,Newport Pkwy,40.728745,-74.032108,3213,Van Vorst Park,40.718489,-74.047727,42217,Subscriber,1980,1
1,206,16:11.4,19:37.4,3273,Manila & 1st,40.721651,-74.042884,3639,Harborside,40.719252,-74.034234,42160,Subscriber,1990,1
2,859,23:22.1,37:41.5,3185,City Hall,40.717733,-74.043845,3268,Lafayette Park,40.713464,-74.062859,42204,Customer,1991,1
3,693,25:14.5,36:48.0,3185,City Hall,40.717733,-74.043845,3277,Communipaw & Berry Lane,40.714358,-74.066611,42165,Subscriber,1987,1
4,1473,32:30.5,57:04.4,3192,Liberty Light Rail,40.711242,-74.055701,3639,Harborside,40.719252,-74.034234,26156,Customer,1969,0

In [145]:
bike220_data["Month"] = "February"

bike220_data

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Month
0,841,02:13.8,16:15.5,3199,Newport Pkwy,40.728745,-74.032108,3213,Van Vorst Park,40.718489,-74.047727,42217,Subscriber,1980,1,February
1,206,16:11.4,19:37.4,3273,Manila & 1st,40.721651,-74.042884,3639,Harborside,40.719252,-74.034234,42160,Subscriber,1990,1,February
2,859,23:22.1,37:41.5,3185,City Hall,40.717733,-74.043845,3268,Lafayette Park,40.713464,-74.062859,42204,Customer,1991,1,February
3,693,25:14.5,36:48.0,3185,City Hall,40.717733,-74.043845,3277,Communipaw & Berry Lane,40.714358,-74.066611,42165,Subscriber,1987,1,February
4,1473,32:30.5,57:04.4,3192,Liberty Light Rail,40.711242,-74.055701,3639,Harborside,40.719252,-74.034234,26156,Customer,1969,0,February
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22957,262,40:53.2,45:15.3,3639,Harborside,40.719252,-74.034234,3214,Essex Light Rail,40.712774,-74.036486,42467,Subscriber,1967,1,February
22958,216,41:01.3,44:38.0,3186,Grove St PATH,40.719586,-74.043117,3483,Montgomery St,40.719420,-74.050990,42377,Subscriber,1958,1,February
22959,101,45:22.2,47:03.3,3214,Essex Light Rail,40.712774,-74.036486,3681,Grand St,40.715178,-74.037683,42485,Subscriber,1967,1,February
22960,279,47:56.8,52:36.6,3186,Grove St PATH,40.719586,-74.043117,3483,Montgomery St,40.719420,-74.050990,42531,Subscriber,1988,1,February
22961,212,49:18.5,52:50.7,3184,Paulus Hook,40.714145,-74.033552,3276,Marin Light Rail,40.714584,-74.042817,42385,Subscriber,1967,1,February

In [146]:
bike320_data_path = "./Resources/JC-202003-citibike-tripdata.csv"

bike320_data = pd.read_csv(bike320_data_path)
bike320_data["starttime"] = pd.to_datetime(bike320_data['starttime']).dt.time
bike320_data["stoptime"] = pd.to_datetime(bike320_data['stoptime']).dt.time
#remove microseconds
bike320_data["starttime"] = bike320_data["starttime"].apply(lambda x: x.replace(microsecond=0))
bike320_data["stoptime"] = bike320_data["stoptime"].apply(lambda x: x.replace(microsecond=0))


bike320_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,389,00:14:07,00:20:36,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,42381,Subscriber,1992,1
1,242,00:48:06,00:52:08,3185,City Hall,40.717733,-74.043845,3205,JC Medical Center,40.716540,-74.049638,42155,Subscriber,1991,1
2,124,01:08:46,01:10:51,3272,Jersey & 3rd,40.723332,-74.045953,3278,Monmouth and 6th,40.725685,-74.048790,42376,Subscriber,1987,0
3,104,01:22:35,01:24:20,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,42350,Subscriber,1993,1
4,228,01:39:20,01:43:09,3194,McGinley Square,40.725340,-74.067622,3280,Astor Place,40.719282,-74.071262,42235,Subscriber,1988,1

In [147]:
bike320_data["Month"] = "March"

bike320_data

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Month
0,389,00:14:07,00:20:36,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,42381,Subscriber,1992,1,March
1,242,00:48:06,00:52:08,3185,City Hall,40.717733,-74.043845,3205,JC Medical Center,40.716540,-74.049638,42155,Subscriber,1991,1,March
2,124,01:08:46,01:10:51,3272,Jersey & 3rd,40.723332,-74.045953,3278,Monmouth and 6th,40.725685,-74.048790,42376,Subscriber,1987,0,March
3,104,01:22:35,01:24:20,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,42350,Subscriber,1993,1,March
4,228,01:39:20,01:43:09,3194,McGinley Square,40.725340,-74.067622,3280,Astor Place,40.719282,-74.071262,42235,Subscriber,1988,1,March
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17714,296,22:50:39,22:55:35,3191,Union St,40.718211,-74.083639,3694,Jackson Square,40.711130,-74.078900,42145,Subscriber,1994,1,March
17715,147,23:09:15,23:11:43,3640,Journal Square,40.733670,-74.062500,3206,Hilltop,40.731169,-74.057574,42110,Subscriber,1991,1,March
17716,364,23:17:02,23:23:06,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,42550,Subscriber,1986,1,March
17717,1217,23:36:10,23:56:27,3267,Morris Canal,40.712419,-74.038526,3276,Marin Light Rail,40.714584,-74.042817,42115,Subscriber,1986,1,March
17718,846,23:37:21,23:51:28,3195,Sip Ave,40.730897,-74.063913,3193,Lincoln Park,40.724605,-74.078406,42362,Subscriber,1965,1,March

In [148]:
bike420_data_path = "./Resources/JC-202004-citibike-tripdata.csv"

bike420_data = pd.read_csv(bike420_data_path)
bike420_data["starttime"] = pd.to_datetime(bike420_data['starttime']).dt.time
bike420_data["stoptime"] = pd.to_datetime(bike420_data['stoptime']).dt.time
#remove microseconds
bike420_data["starttime"] = bike420_data["starttime"].apply(lambda x: x.replace(microsecond=0))
bike420_data["stoptime"] = bike420_data["stoptime"].apply(lambda x: x.replace(microsecond=0))


bike420_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1437,01:06:20,01:30:17,3678,Fairmount Ave,40.725726,-74.071959,3678,Fairmount Ave,40.725726,-74.071959,42314,Customer,2002,2
1,264,05:02:42,05:07:06,3207,Oakland Ave,40.737604,-74.052478,3195,Sip Ave,40.730897,-74.063913,42146,Subscriber,1963,2
2,254,06:20:28,06:24:42,3678,Fairmount Ave,40.725726,-74.071959,3195,Sip Ave,40.730897,-74.063913,42255,Subscriber,1981,1
3,429,06:33:30,06:40:40,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,42529,Subscriber,1964,1
4,805,06:38:32,06:51:58,3193,Lincoln Park,40.724605,-74.078406,3195,Sip Ave,40.730897,-74.063913,42362,Subscriber,1965,1

In [149]:
bike420_data["Month"] = "April"

bike420_data

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Month
0,1437,01:06:20,01:30:17,3678,Fairmount Ave,40.725726,-74.071959,3678,Fairmount Ave,40.725726,-74.071959,42314,Customer,2002,2,April
1,264,05:02:42,05:07:06,3207,Oakland Ave,40.737604,-74.052478,3195,Sip Ave,40.730897,-74.063913,42146,Subscriber,1963,2,April
2,254,06:20:28,06:24:42,3678,Fairmount Ave,40.725726,-74.071959,3195,Sip Ave,40.730897,-74.063913,42255,Subscriber,1981,1,April
3,429,06:33:30,06:40:40,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,42529,Subscriber,1964,1,April
4,805,06:38:32,06:51:58,3193,Lincoln Park,40.724605,-74.078406,3195,Sip Ave,40.730897,-74.063913,42362,Subscriber,1965,1,April
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9263,597,22:18:40,22:28:38,3678,Fairmount Ave,40.725726,-74.071959,3279,Dixon Mills,40.721630,-74.049968,42240,Customer,1969,0,April
9264,311,22:23:18,22:28:30,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,42535,Subscriber,1986,1,April
9265,167,22:34:51,22:37:39,3640,Journal Square,40.733670,-74.062500,3206,Hilltop,40.731169,-74.057574,42615,Subscriber,1991,1,April
9266,520,22:50:52,22:59:33,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,42403,Subscriber,1976,1,April
9267,1043,22:54:39,23:12:02,3191,Union St,40.718211,-74.083639,3275,Columbus Drive,40.718355,-74.038914,42255,Customer,1999,1,April

In [150]:
bike520_data_path = "./Resources/JC-202005-citibike-tripdata.csv"

bike520_data = pd.read_csv(bike520_data_path)
bike520_data["starttime"] = pd.to_datetime(bike520_data['starttime']).dt.time
bike520_data["stoptime"] = pd.to_datetime(bike520_data['stoptime']).dt.time
#remove microseconds
bike520_data["starttime"] = bike520_data["starttime"].apply(lambda x: x.replace(microsecond=0))
bike520_data["stoptime"] = bike520_data["stoptime"].apply(lambda x: x.replace(microsecond=0))


bike520_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,349,00:09:45,00:15:35,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,42581,Customer,1969,0
1,138,01:11:22,01:13:41,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3639,Harborside,40.719252,-74.034234,42105,Subscriber,1949,1
2,229,05:31:29,05:35:19,3483,Montgomery St,40.719420,-74.050990,3186,Grove St PATH,40.719586,-74.043117,42320,Customer,1984,1
3,261,05:51:39,05:56:00,3278,Monmouth and 6th,40.725685,-74.048790,3186,Grove St PATH,40.719586,-74.043117,42170,Subscriber,1974,2
4,168,06:06:31,06:09:20,3194,McGinley Square,40.725340,-74.067622,3195,Sip Ave,40.730897,-74.063913,42352,Subscriber,1966,1

In [151]:
bike520_data["Month"] = "May"

bike520_data

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Month
0,349,00:09:45,00:15:35,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,42581,Customer,1969,0,May
1,138,01:11:22,01:13:41,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3639,Harborside,40.719252,-74.034234,42105,Subscriber,1949,1,May
2,229,05:31:29,05:35:19,3483,Montgomery St,40.719420,-74.050990,3186,Grove St PATH,40.719586,-74.043117,42320,Customer,1984,1,May
3,261,05:51:39,05:56:00,3278,Monmouth and 6th,40.725685,-74.048790,3186,Grove St PATH,40.719586,-74.043117,42170,Subscriber,1974,2,May
4,168,06:06:31,06:09:20,3194,McGinley Square,40.725340,-74.067622,3195,Sip Ave,40.730897,-74.063913,42352,Subscriber,1966,1,May
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25072,395,23:35:50,23:42:26,3202,Newport PATH,40.727224,-74.033759,3276,Marin Light Rail,40.714584,-74.042817,42250,Subscriber,1992,1,May
25073,1681,23:38:30,00:06:32,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42396,Customer,1997,1,May
25074,1657,23:39:07,00:06:44,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42331,Customer,1987,1,May
25075,420,23:45:28,23:52:28,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,40517,Subscriber,1999,1,May
25076,87,23:50:55,23:52:23,3272,Jersey & 3rd,40.723332,-74.045953,3211,Newark Ave,40.721525,-74.046305,42314,Subscriber,1976,1,May

In [152]:
bike620_data_path = "./Resources/JC-202006-citibike-tripdata.csv"

bike620_data = pd.read_csv(bike620_data_path)
bike620_data["starttime"] = pd.to_datetime(bike620_data['starttime']).dt.time
bike620_data["stoptime"] = pd.to_datetime(bike620_data['stoptime']).dt.time
#remove microseconds
bike620_data["starttime"] = bike620_data["starttime"].apply(lambda x: x.replace(microsecond=0))
bike620_data["stoptime"] = bike620_data["stoptime"].apply(lambda x: x.replace(microsecond=0))


bike620_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,122,00:02:21,00:04:24,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3639,Harborside,40.719252,-74.034234,42489,Subscriber,1987,1
1,1282,00:12:27,00:33:50,3198,Heights Elevator,40.748716,-74.040443,3276,Marin Light Rail,40.714584,-74.042817,42183,Subscriber,1988,1
2,186,01:19:59,01:23:05,3275,Columbus Drive,40.718355,-74.038914,3681,Grand St,40.715178,-74.037683,42140,Subscriber,1987,1
3,131,01:26:42,01:28:53,3267,Morris Canal,40.712419,-74.038526,3681,Grand St,40.715178,-74.037683,42120,Subscriber,1987,1
4,266,01:27:33,01:32:00,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,42437,Subscriber,1972,2

In [153]:
bike620_data["Month"] = "June"

bike620_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Month
0,122,00:02:21,00:04:24,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3639,Harborside,40.719252,-74.034234,42489,Subscriber,1987,1,June
1,1282,00:12:27,00:33:50,3198,Heights Elevator,40.748716,-74.040443,3276,Marin Light Rail,40.714584,-74.042817,42183,Subscriber,1988,1,June
2,186,01:19:59,01:23:05,3275,Columbus Drive,40.718355,-74.038914,3681,Grand St,40.715178,-74.037683,42140,Subscriber,1987,1,June
3,131,01:26:42,01:28:53,3267,Morris Canal,40.712419,-74.038526,3681,Grand St,40.715178,-74.037683,42120,Subscriber,1987,1,June
4,266,01:27:33,01:32:00,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,42437,Subscriber,1972,2,June

In [154]:
bike720_data_path = "./Resources/JC-202007-citibike-tripdata.csv"

bike720_data = pd.read_csv(bike720_data_path)
bike720_data["starttime"] = pd.to_datetime(bike720_data['starttime']).dt.time
bike720_data["stoptime"] = pd.to_datetime(bike720_data['stoptime']).dt.time
#remove microseconds
bike720_data["starttime"] = bike720_data["starttime"].apply(lambda x: x.replace(microsecond=0))
bike720_data["stoptime"] = bike720_data["stoptime"].apply(lambda x: x.replace(microsecond=0))


bike720_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2333,00:23:19,01:02:13,3694,Jackson Square,40.711130,-74.078900,3276,Marin Light Rail,40.714584,-74.042817,42579,Customer,1969,0
1,1203,00:27:45,00:47:49,3791,Hoboken Ave at Monmouth St,40.735208,-74.046964,3202,Newport PATH,40.727224,-74.033759,42564,Subscriber,1965,1
2,786,00:34:17,00:47:24,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3225,Baldwin at Montgomery,40.723659,-74.064194,42219,Subscriber,1994,1
3,1488,00:51:07,01:15:56,3677,Glenwood Ave,40.727551,-74.071061,3194,McGinley Square,40.725340,-74.067622,44424,Subscriber,1995,2
4,2682,00:51:16,01:35:58,3191,Union St,40.718211,-74.083639,3193,Lincoln Park,40.724605,-74.078406,42186,Subscriber,1993,1

In [155]:
bike720_data["Month"] = "July"

bike720_data

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Month
0,2333,00:23:19,01:02:13,3694,Jackson Square,40.711130,-74.078900,3276,Marin Light Rail,40.714584,-74.042817,42579,Customer,1969,0,July
1,1203,00:27:45,00:47:49,3791,Hoboken Ave at Monmouth St,40.735208,-74.046964,3202,Newport PATH,40.727224,-74.033759,42564,Subscriber,1965,1,July
2,786,00:34:17,00:47:24,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3225,Baldwin at Montgomery,40.723659,-74.064194,42219,Subscriber,1994,1,July
3,1488,00:51:07,01:15:56,3677,Glenwood Ave,40.727551,-74.071061,3194,McGinley Square,40.725340,-74.067622,44424,Subscriber,1995,2,July
4,2682,00:51:16,01:35:58,3191,Union St,40.718211,-74.083639,3193,Lincoln Park,40.724605,-74.078406,42186,Subscriber,1993,1,July
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38675,1003,23:51:37,00:08:20,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3277,Communipaw & Berry Lane,40.714358,-74.066611,42145,Subscriber,1977,1,July
38676,165,23:56:33,23:59:18,3198,Heights Elevator,40.748716,-74.040443,3196,Riverview Park,40.744319,-74.043991,44334,Subscriber,1991,1,July
38677,382,23:56:55,00:03:18,3209,Brunswick St,40.724176,-74.050656,3275,Columbus Drive,40.718355,-74.038914,42154,Subscriber,1984,1,July
38678,674,23:57:58,00:09:12,3185,City Hall,40.717733,-74.043845,3185,City Hall,40.717733,-74.043845,45366,Customer,1994,2,July
38679,1007,23:58:06,00:14:53,3211,Newark Ave,40.721525,-74.046305,3209,Brunswick St,40.724176,-74.050656,42139,Subscriber,1982,1,July

In [156]:
bike820_data_path = "./Resources/JC-202008-citibike-tripdata.csv"

bike820_data = pd.read_csv(bike820_data_path)

bike820_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,561,00:16.6,09:38.6,3185,City Hall,40.717733,-74.043845,3185,City Hall,40.717733,-74.043845,42303,Customer,1994,2
1,236,00:46.4,04:42.9,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,44989,Subscriber,1996,1
2,384,02:38.9,09:03.8,3186,Grove St PATH,40.719586,-74.043117,3203,Hamilton Park,40.727596,-74.044247,41696,Subscriber,1984,2
3,1302,03:27.0,25:09.2,3185,City Hall,40.717733,-74.043845,3185,City Hall,40.717733,-74.043845,42310,Customer,1993,1
4,5561,03:57.5,36:38.5,3185,City Hall,40.717733,-74.043845,3185,City Hall,40.717733,-74.043845,42346,Customer,1995,2

In [157]:
bike820_data["Month"] = "August"

bike820_data

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Month
0,561,00:16.6,09:38.6,3185,City Hall,40.717733,-74.043845,3185,City Hall,40.717733,-74.043845,42303,Customer,1994,2,August
1,236,00:46.4,04:42.9,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,44989,Subscriber,1996,1,August
2,384,02:38.9,09:03.8,3186,Grove St PATH,40.719586,-74.043117,3203,Hamilton Park,40.727596,-74.044247,41696,Subscriber,1984,2,August
3,1302,03:27.0,25:09.2,3185,City Hall,40.717733,-74.043845,3185,City Hall,40.717733,-74.043845,42310,Customer,1993,1,August
4,5561,03:57.5,36:38.5,3185,City Hall,40.717733,-74.043845,3185,City Hall,40.717733,-74.043845,42346,Customer,1995,2,August
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43262,162,43:15.9,45:58.5,3186,Grove St PATH,40.719586,-74.043117,3279,Dixon Mills,40.721630,-74.049968,44787,Subscriber,1977,1,August
43263,400,46:19.9,53:00.4,3481,York St,40.716490,-74.041050,3187,Warren St,40.721124,-74.038051,19153,Subscriber,1986,1,August
43264,288,47:16.9,52:05.6,3195,Sip Ave,40.730897,-74.063913,3194,McGinley Square,40.725340,-74.067622,42434,Subscriber,1960,1,August
43265,199,50:37.3,53:56.9,3195,Sip Ave,40.730897,-74.063913,3194,McGinley Square,40.725340,-74.067622,44226,Subscriber,1994,1,August
43266,333,55:30.8,01:04.4,3211,Newark Ave,40.721525,-74.046305,3270,Jersey & 6th St,40.725289,-74.045572,42437,Subscriber,1984,2,August

In [158]:
bike920_data_path = "./Resources/JC-202009-citibike-tripdata.csv"

bike920_data = pd.read_csv(bike920_data_path)
bike920_data["starttime"] = pd.to_datetime(bike920_data['starttime']).dt.time
bike920_data["stoptime"] = pd.to_datetime(bike920_data['stoptime']).dt.time
#remove microseconds
bike920_data["starttime"] = bike920_data["starttime"].apply(lambda x: x.replace(microsecond=0))
bike920_data["stoptime"] = bike920_data["stoptime"].apply(lambda x: x.replace(microsecond=0))


bike920_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,222,00:15:58,00:19:40,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,45656,Subscriber,1992,1
1,193,00:49:00,00:52:14,3640,Journal Square,40.733670,-74.062500,3206,Hilltop,40.731169,-74.057574,45352,Subscriber,1991,1
2,273,00:51:44,00:56:17,3191,Union St,40.718211,-74.083639,3694,Jackson Square,40.711130,-74.078900,44424,Subscriber,1969,1
3,1419,00:52:48,01:16:28,3203,Hamilton Park,40.727596,-74.044247,3270,Jersey & 6th St,40.725289,-74.045572,42240,Subscriber,1986,1
4,254,00:56:16,01:00:31,3194,McGinley Square,40.725340,-74.067622,3679,Bergen Ave,40.722104,-74.071455,42434,Subscriber,1992,1

In [159]:
bike920_data["Month"] = "September"

bike920_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Month
0,222,00:15:58,00:19:40,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,45656,Subscriber,1992,1,September
1,193,00:49:00,00:52:14,3640,Journal Square,40.733670,-74.062500,3206,Hilltop,40.731169,-74.057574,45352,Subscriber,1991,1,September
2,273,00:51:44,00:56:17,3191,Union St,40.718211,-74.083639,3694,Jackson Square,40.711130,-74.078900,44424,Subscriber,1969,1,September
3,1419,00:52:48,01:16:28,3203,Hamilton Park,40.727596,-74.044247,3270,Jersey & 6th St,40.725289,-74.045572,42240,Subscriber,1986,1,September
4,254,00:56:16,01:00:31,3194,McGinley Square,40.725340,-74.067622,3679,Bergen Ave,40.722104,-74.071455,42434,Subscriber,1992,1,September

In [160]:
bike1020_data_path = "./Resources/JC-202010-citibike-tripdata.csv"

bike1020_data = pd.read_csv(bike1020_data_path)
bike1020_data["starttime"] = pd.to_datetime(bike1020_data['starttime']).dt.time
bike1020_data["stoptime"] = pd.to_datetime(bike1020_data['stoptime']).dt.time
#remove microseconds
bike1020_data["starttime"] = bike1020_data["starttime"].apply(lambda x: x.replace(microsecond=0))
bike1020_data["stoptime"] = bike1020_data["stoptime"].apply(lambda x: x.replace(microsecond=0))


bike1020_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,156,00:02:40,00:05:17,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,42293,Subscriber,1996,1
1,143,00:02:53,00:05:16,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,44740,Subscriber,1998,1
2,305,00:04:31,00:09:36,3273,Manila & 1st,40.721651,-74.042884,3269,Brunswick & 6th,40.726012,-74.050389,41369,Subscriber,1988,2
3,1097,00:05:18,00:23:36,3199,Newport Pkwy,40.728745,-74.032108,3281,Leonard Gordon Park,40.745910,-74.057271,42285,Customer,2001,1
4,277,00:09:17,00:13:55,3199,Newport Pkwy,40.728745,-74.032108,3638,Washington St,40.724294,-74.035483,45231,Subscriber,1965,1

In [161]:
bike1020_data["Month"] = "October"

bike1020_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Month
0,156,00:02:40,00:05:17,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,42293,Subscriber,1996,1,October
1,143,00:02:53,00:05:16,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,44740,Subscriber,1998,1,October
2,305,00:04:31,00:09:36,3273,Manila & 1st,40.721651,-74.042884,3269,Brunswick & 6th,40.726012,-74.050389,41369,Subscriber,1988,2,October
3,1097,00:05:18,00:23:36,3199,Newport Pkwy,40.728745,-74.032108,3281,Leonard Gordon Park,40.745910,-74.057271,42285,Customer,2001,1,October
4,277,00:09:17,00:13:55,3199,Newport Pkwy,40.728745,-74.032108,3638,Washington St,40.724294,-74.035483,45231,Subscriber,1965,1,October

In [162]:
bike1120_data_path = "./Resources/JC-202011-citibike-tripdata.csv"

bike1120_data = pd.read_csv(bike1120_data_path)
bike1120_data["starttime"] = pd.to_datetime(bike1120_data['starttime']).dt.time
bike1120_data["stoptime"] = pd.to_datetime(bike1120_data['stoptime']).dt.time
#remove microseconds
bike1120_data["starttime"] = bike1120_data["starttime"].apply(lambda x: x.replace(microsecond=0))
bike1120_data["stoptime"] = bike1120_data["stoptime"].apply(lambda x: x.replace(microsecond=0))

bike1120_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,756,00:11:32,00:24:09,3275,Columbus Drive,40.718355,-74.038914,3225,Baldwin at Montgomery,40.723659,-74.064194,42436,Subscriber,1984,1
1,584,00:14:20,00:24:04,3681,Grand St,40.715178,-74.037683,3209,Brunswick St,40.724176,-74.050656,46532,Customer,1969,0
2,403,00:22:55,00:29:39,3203,Hamilton Park,40.727596,-74.044247,3483,Montgomery St,40.719420,-74.050990,35139,Subscriber,1980,1
3,498,00:41:37,00:49:55,3268,Lafayette Park,40.713464,-74.062859,3213,Van Vorst Park,40.718489,-74.047727,46539,Customer,1969,0
4,151,00:53:21,00:55:52,3185,City Hall,40.717733,-74.043845,3276,Marin Light Rail,40.714584,-74.042817,44388,Subscriber,1986,1

In [163]:
bike1120_data["Month"] = "November"

bike1120_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Month
0,756,00:11:32,00:24:09,3275,Columbus Drive,40.718355,-74.038914,3225,Baldwin at Montgomery,40.723659,-74.064194,42436,Subscriber,1984,1,November
1,584,00:14:20,00:24:04,3681,Grand St,40.715178,-74.037683,3209,Brunswick St,40.724176,-74.050656,46532,Customer,1969,0,November
2,403,00:22:55,00:29:39,3203,Hamilton Park,40.727596,-74.044247,3483,Montgomery St,40.719420,-74.050990,35139,Subscriber,1980,1,November
3,498,00:41:37,00:49:55,3268,Lafayette Park,40.713464,-74.062859,3213,Van Vorst Park,40.718489,-74.047727,46539,Customer,1969,0,November
4,151,00:53:21,00:55:52,3185,City Hall,40.717733,-74.043845,3276,Marin Light Rail,40.714584,-74.042817,44388,Subscriber,1986,1,November

In [164]:
bike1220_data_path = "./Resources/JC-202012-citibike-tripdata.csv"

bike1220_data = pd.read_csv(bike1220_data_path)
#remove date from starttime and stoptime
bike1220_data["starttime"] = pd.to_datetime(bike1220_data['stoptime']).dt.time
bike1220_data["stoptime"] = pd.to_datetime(bike1220_data['stoptime']).dt.time
#remove microseconds
bike1220_data["starttime"] = bike1220_data["starttime"].apply(lambda x: x.replace(microsecond=0))
bike1220_data["stoptime"] = bike1220_data["stoptime"].apply(lambda x: x.replace(microsecond=0))

bike1220_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,146,00:05:16,00:05:16,3202,Newport PATH,40.727224,-74.033759,3199,Newport Pkwy,40.728745,-74.032108,42308,Subscriber,1989,2
1,572,00:21:30,00:21:30,3640,Journal Square,40.733670,-74.062500,3280,Astor Place,40.719282,-74.071262,18568,Subscriber,1997,2
2,387,00:21:16,00:21:16,3640,Journal Square,40.733670,-74.062500,3194,McGinley Square,40.725340,-74.067622,44543,Subscriber,1960,1
3,188,00:48:14,00:48:14,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,43098,Subscriber,1998,1
4,594,01:27:11,01:27:11,3212,Christ Hospital,40.734786,-74.050444,3209,Brunswick St,40.724176,-74.050656,44723,Subscriber,1988,1

In [165]:
bike1220_data["Month"] = "December"

bike1220_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Month
0,146,00:05:16,00:05:16,3202,Newport PATH,40.727224,-74.033759,3199,Newport Pkwy,40.728745,-74.032108,42308,Subscriber,1989,2,December
1,572,00:21:30,00:21:30,3640,Journal Square,40.733670,-74.062500,3280,Astor Place,40.719282,-74.071262,18568,Subscriber,1997,2,December
2,387,00:21:16,00:21:16,3640,Journal Square,40.733670,-74.062500,3194,McGinley Square,40.725340,-74.067622,44543,Subscriber,1960,1,December
3,188,00:48:14,00:48:14,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,43098,Subscriber,1998,1,December
4,594,01:27:11,01:27:11,3212,Christ Hospital,40.734786,-74.050444,3209,Brunswick St,40.724176,-74.050656,44723,Subscriber,1988,1,December

In [166]:
#combine dataframes
frames = [bike120_data, bike220_data, bike320_data, bike420_data, bike520_data, bike620_data, bike720_data, bike820_data,
         bike920_data, bike1020_data, bike1120_data, bike1220_data]

bike20_df = pd.concat(frames)

bike20_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Month
0,841,02:13.8,16:15.5,3199,Newport Pkwy,40.728745,-74.032108,3213,Van Vorst Park,40.718489,-74.047727,42217,Subscriber,1980,1,January
1,206,16:11.4,19:37.4,3273,Manila & 1st,40.721651,-74.042884,3639,Harborside,40.719252,-74.034234,42160,Subscriber,1990,1,January
2,859,23:22.1,37:41.5,3185,City Hall,40.717733,-74.043845,3268,Lafayette Park,40.713464,-74.062859,42204,Customer,1991,1,January
3,693,25:14.5,36:48.0,3185,City Hall,40.717733,-74.043845,3277,Communipaw & Berry Lane,40.714358,-74.066611,42165,Subscriber,1987,1,January
4,1473,32:30.5,57:04.4,3192,Liberty Light Rail,40.711242,-74.055701,3639,Harborside,40.719252,-74.034234,26156,Customer,1969,0,January
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11689,1750,23:36:54,23:36:54,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,40440,Customer,1969,0,December
11690,1519,23:43:19,23:43:19,3184,Paulus Hook,40.714145,-74.033552,3195,Sip Ave,40.730897,-74.063913,46340,Customer,1969,0,December
11691,1761,00:00:31,00:00:31,3195,Sip Ave,40.730897,-74.063913,3270,Jersey & 6th St,40.725289,-74.045572,40907,Customer,1998,1,December
11692,637,23:46:22,23:46:22,3681,Grand St,40.715178,-74.037683,3199,Newport Pkwy,40.728745,-74.032108,42250,Customer,1969,0,December
11693,1607,00:15:22,00:15:22,3267,Morris Canal,40.712419,-74.038526,3267,Morris Canal,40.712419,-74.038526,48742,Subscriber,1982,1,December

In [167]:
from math import sin, cos, sqrt, atan2, radians
from sklearn.neighbors import DistanceMetric

In [168]:
def haversine_vectorize(lon1, lat1, lon2, lat2):

    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2])

    newlon = lon2 - lon1
    newlat = lat2 - lat1

    haver_formula = np.sin(newlat/2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(newlon/2.0)**2

    dist = 2 * np.arcsin(np.sqrt(haver_formula ))
    miles = 3958 * dist #6367 for distance in KM for miles use 3958
    return miles

In [169]:
bike20_df['distance'] = haversine_vectorize(bike20_df['start station latitude'],bike20_df['start station longitude'], bike20_df['end station latitude'],
                                           bike20_df['end station longitude'])
bike20_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Month,distance
0,841,02:13.8,16:15.5,3199,Newport Pkwy,40.728745,-74.032108,3213,Van Vorst Park,40.718489,-74.047727,42217,Subscriber,1980,1,January,1.096369
1,206,16:11.4,19:37.4,3273,Manila & 1st,40.721651,-74.042884,3639,Harborside,40.719252,-74.034234,42160,Subscriber,1990,1,January,0.599286
2,859,23:22.1,37:41.5,3185,City Hall,40.717733,-74.043845,3268,Lafayette Park,40.713464,-74.062859,42204,Customer,1991,1,January,1.315953
3,693,25:14.5,36:48.0,3185,City Hall,40.717733,-74.043845,3277,Communipaw & Berry Lane,40.714358,-74.066611,42165,Subscriber,1987,1,January,1.573976
4,1473,32:30.5,57:04.4,3192,Liberty Light Rail,40.711242,-74.055701,3639,Harborside,40.719252,-74.034234,26156,Customer,1969,0,January,1.490743

In [170]:
bike20_df['age'] = 2020 - bike20_df['birth year']

bike20_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Month,distance,age
0,841,02:13.8,16:15.5,3199,Newport Pkwy,40.728745,-74.032108,3213,Van Vorst Park,40.718489,-74.047727,42217,Subscriber,1980,1,January,1.096369,40
1,206,16:11.4,19:37.4,3273,Manila & 1st,40.721651,-74.042884,3639,Harborside,40.719252,-74.034234,42160,Subscriber,1990,1,January,0.599286,30
2,859,23:22.1,37:41.5,3185,City Hall,40.717733,-74.043845,3268,Lafayette Park,40.713464,-74.062859,42204,Customer,1991,1,January,1.315953,29
3,693,25:14.5,36:48.0,3185,City Hall,40.717733,-74.043845,3277,Communipaw & Berry Lane,40.714358,-74.066611,42165,Subscriber,1987,1,January,1.573976,33
4,1473,32:30.5,57:04.4,3192,Liberty Light Rail,40.711242,-74.055701,3639,Harborside,40.719252,-74.034234,26156,Customer,1969,0,January,1.490743,51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11689,1750,23:36:54,23:36:54,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,40440,Customer,1969,0,December,0.000000,51
11690,1519,23:43:19,23:43:19,3184,Paulus Hook,40.714145,-74.033552,3195,Sip Ave,40.730897,-74.063913,46340,Customer,1969,0,December,2.121298,51
11691,1761,00:00:31,00:00:31,3195,Sip Ave,40.730897,-74.063913,3270,Jersey & 6th St,40.725289,-74.045572,40907,Customer,1998,1,December,1.271457,22
11692,637,23:46:22,23:46:22,3681,Grand St,40.715178,-74.037683,3199,Newport Pkwy,40.728745,-74.032108,42250,Customer,1969,0,December,0.463440,51
11693,1607,00:15:22,00:15:22,3267,Morris Canal,40.712419,-74.038526,3267,Morris Canal,40.712419,-74.038526,48742,Subscriber,1982,1,December,0.000000,38

In [171]:
replacement_mapping_dict = {
    0: "Unkown", 1: "Male", 2: "Female"
}

bike20_df['gender'] = bike20_df['gender'].map ({0: 'unknown', 1: 'male', 2: 'female'})

bike20_df = bike20_df.reset_index()

bike20_df.head()

,index,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Month,distance,age
0,0,841,02:13.8,16:15.5,3199,Newport Pkwy,40.728745,-74.032108,3213,Van Vorst Park,40.718489,-74.047727,42217,Subscriber,1980,male,January,1.096369,40
1,1,206,16:11.4,19:37.4,3273,Manila & 1st,40.721651,-74.042884,3639,Harborside,40.719252,-74.034234,42160,Subscriber,1990,male,January,0.599286,30
2,2,859,23:22.1,37:41.5,3185,City Hall,40.717733,-74.043845,3268,Lafayette Park,40.713464,-74.062859,42204,Customer,1991,male,January,1.315953,29
3,3,693,25:14.5,36:48.0,3185,City Hall,40.717733,-74.043845,3277,Communipaw & Berry Lane,40.714358,-74.066611,42165,Subscriber,1987,male,January,1.573976,33
4,4,1473,32:30.5,57:04.4,3192,Liberty Light Rail,40.711242,-74.055701,3639,Harborside,40.719252,-74.034234,26156,Customer,1969,unknown,January,1.490743,51

In [172]:
bike20_df.to_csv("./Resources/bike20_data.csv")